<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table td,
        .table th {
            min-width: 125px;
        }
        .mirrored-image {
            transform: scaleX(-1);
        }
    </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">AOTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams">New Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/new_game}">Save Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Load Game</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5 text-center">ATTACK OF THE STICK MAN</h1>
    <div class="row justify-content-center">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Team Blue</th>
                    <td class="col text-center">
                        <form th:action="@{/roll_dice}" th:method="get">
                            <button th:text="@{__${turn}__ Roll Dice}"> </button>
                        </form>
                    </td>
                    <th scope="col" class="text-center">Team Red</th>
                    <th scope="col" class="text-center">#</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="team: ${teams}" style="height: 222px;">
                    <th class="text-center" th:text="${team[0].id}"></th>
                    <td class="justify-content-center align-items-start" >
                        <img th:if="${team[0].isAlive}"
                             th:src="@{/images/aots__${team[0].stage}__.png}"
                             alt="Team Red"
                             class="align-self-start" />
                        <img th:unless="${team[0].isAlive}"
                             th:src="@{/images/rip.png}"
                             alt="Default Image"
                             class="align-self-start" />
                    </td>
                    <td></td>
                    <td class="justify-content-center align-items-start" >
                        <img th:if="${team[1].isAlive}"
                             th:src="@{/images/aots__${team[1].stage}__.png}"
                             alt="Team Red"
                             class="align-self-start mirrored-image" />
                        <img th:unless="${team[1].isAlive}"
                             th:src="@{/images/rip.png}"
                             alt="Default Image"
                             class="align-self-start" />
                    </td>
                    <th class="text-center" th:text="${team[1].id}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
