<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Celebration Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">The winner is: <span th:text="${message}"></span></p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" th:href="@{/new_game}" role="button">New Game</a>
        </p>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>